.bg-box {
  background-color: crimson;
  background-image: url('images/vertical.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-blend-mode: ;
}